/* Fonts */
@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Geneeral Settings */
* {
    box-sizing: border-box;
}
  
input {
    all: unset;
    box-sizing: border-box;
    appearance: none;
}
  
body {
    background-color: #fff;
    font-family: 'GmarketSansLight' !important;
    font-size: 14px;
    color: #555555;
}

h1 {
    font-family: 'GmarketSansMedium';
    font-weight: bold;
}

.btn {
    background-color: #d9e4dd !important; 
    border: none !important;
}

.btn:hover {
    background-color: #b7c9bd !important;
}

/**********
    Home   
***********/
.logo {
    width: 200px;
}

.navbar {
    height: 10vh;
}

.carousel {
    height: 45vh !important;
}

.carousel-caption {
    color: #555555 !important;
    text-align: left !important;
    position: relative;
    display: block;
    left: 10% !important;
    top: 27% !important;
}

.carousel-caption h2 {
    font-family: GmarketSansBold;
}

.carousel-control-next,
.carousel-control-prev {
    visibility: hidden;
}

.carousel-img {
    width: 500px !important;
    height: 500px !important;
    float: right;
    position: relative;
    right: 10% !important;
}

.carousel-indicators {
    position: absolute !important;
    bottom: -50px !important;
    margin: 0 !important;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    border: #555 2px solid !important;
}

.carousel-indicators .active{
    background-color: #555 !important;
}

/**********
   Auth
***********/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    font-weight: 400;
    margin: auto;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/**********
    Nav
***********/
.navbar li,
.navbar button {
    color: #555 !important;
    font-family: GmarketSansMedium;
    font-size: 12px;
}

/**********
   Footer
***********/
footer {
    font-size: 13px;
    line-height: 18px;
}

img.footer-logo {
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 0;
    position: absolute;
    right: 10%;
    bottom: 0;
}

#copy {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
	text-align: center;
    color: #636363;
    font-size: 10px;
}

/**********
  Contact
***********/
.circle-btn img {
    width: 200px;
}