/**********
   Fonts
***********/
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**********
  Geneeral
  Settings
***********/
* {
    box-sizing: border-box;
}
  
input {
    all: unset;
    box-sizing: border-box;
    appearance: none;
}

a {
    text-decoration: none !important;
    color: #555 !important;
}

button,
.btn {
    color: #555 !important; 
    outline: none !important;
    box-shadow: none !important;
}
  
body {
    background-color: #fff;
    font-family: 'GmarketSansLight' !important;
    font-size: 14px;
    color: #555555;
    height: 100vh;
}

h1 {
    font-family: 'GyeonggiBatang';
    text-align: center;
}

.btn {
    background-color: #d9e4dd !important; 
    border: none !important;
}

.btn:hover {
    background-color: #b7c9bd !important;
}

/**********
    Home   
***********/
.logo {
    width: 200px;
    height: 100px;
}

.carousel-container {
    margin: 7% auto !important;
    margin-top: 15%;
    vertical-align: middle;
}

.carousel-caption {
    color: #555555 !important;
    text-align: left !important;
    width: 40%;
    position: relative;
    left: 20% !important;
    top: 27% !important;
}

.carousel-caption h2 {
    font-family: GmarketSansBold;
}

.carousel-control-next,
.carousel-control-prev {
    visibility: hidden;
}

.carousel-img {
    float: right;
    width: 60%;
    position: relative;
    left: 20%;
}

.carousel-img img {
    width: 250px !important;
    height: 250px !important;
}

.carousel-indicators {
    position: absolute !important;
    bottom: -150px !important;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    border: #555 2px solid !important;
}

.carousel-indicators .active{
    background-color: #555 !important;
}

.loadmore {
    margin: 0 auto !important;
}

.about-product {
    width: 20%;
    position: relative;
    bottom: 0%;
    float: right;
    transition: all .2s ease-in-out;
}

.about-product:hover {
    transform: scale(1.03);
}

.about-cards {
    margin: 10% auto !important;
    margin-top: 20% !important;
    padding: 0 !important;
    width: 80%;
}

.about-card {
    overflow: hidden;
    background-color: #fbf7f0;
    margin: 0 !important;
    height: 100%;
}

.about-card h3 {
    font-size: 20px !important;
    font-family: GmarketSansMedium !important;
    z-index: 100000;
    padding-top: 5% !important;
    padding-left: 5% !important;
}

.card-bottom {
    margin-top: 15px !important;
}

.about-card p {
    font-size: 13px !important;
    padding-left: 5%;
}

/**********
   About
***********/
.about-container {
    border: #fbf7f0 3px solid;
    margin: 5% auto !important;
}

.about-container h3 {
    font-family: 'Sacramento', cursive;
    background-color: #d9e4dd;
    text-align: center;
}

/**********
   Auth
***********/
.auth-signin {
    margin: 20% auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.deco-leaf-1 {
    width: 30%;
    position: absolute;
    top: 15%;
    z-index: -999;
}

.deco-leaf-2 {
    position: absolute;
    width: 30%;
    top: 60%;
    right: 0;
    z-index: -999;
}

/**********
    Nav
***********/
.nav-link {
    color: #555 !important;
    font-family: GmarketSansMedium;
    font-size: 14px;
    text-align: center;
}

.nav-link svg {
    width: 18px !important;
}

.nav-link span {
    margin-left: 20px;
}

.nav-items {
    height: 5%;
    display: flex;
    align-items: center;
}

.nav-top a {
    margin: 20px auto !important;
    padding-right: 0;
}

/**********
   Footer
***********/
footer {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5%;
    height: 4rem;
}

img.footer-logo {
    position: absolute;
    right: 10%;
    bottom: 0;
}

#copy {
	text-align: center;
    color: #636363;
    width: 100% !important;
	padding: 30px 0;
    font-size: 10px;
}

/**********
   CLASS
***********/
.color-violet .container-button {
    background-color: #cdc9c3;
}
.color-violet .container-button:before {
    background-color: #cdc9c3;
}
  .color-violet .w-item span {
    color: #cdc9c3;
}
  
.color-green .container-button {
    background-color: #d9e4dd;
}
.color-green .container-button:before {
    background-color: #d9e4dd;
}
.color-green .w-item span {
    color: #d9e4dd;
}
  
.color-blue .container-button {
    background-color: #cdc9c3;
}
.color-blue .container-button:before {
    background-color: #cdc9c3;
}
.color-blue .w-item span {
    color: #cdc9c3;
}
  
.w-table {
    display: table;
    width: 100%;
    height: 100%;
}

#class-pricing {
    display: block;
    text-align: center;
    margin: 10% auto !important;
}
  
.w-table-cell {
    display: table-cell;
    vertical-align: middle;
}
  
.w-container {
    position: relative;
    max-width: 100%;
    margin: 30px auto 0;
    font-size: 0;
    text-align: center;
    margin-top: 35px;
}
.w-container .w-card {
    cursor: pointer;
    background-color: white !important;
    border: #fbf7f0 2px solid;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    color: #333;
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 30px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.w-container .w-card .card-header {
    overflow: hidden;
    background-color: white;
    padding: 20px 0 0;
}
.w-container .w-card .card-header .w-title, .w-container .w-card .card-header .w-price {
    position: relative;
    font-size: 24px;
    z-index: 2;
}
.w-container .w-card .card-header .w-price {
    font-size: 35px;
    font-family: GmarketSansMedium !important;
    padding: 1px 20px 20px;
}
.w-container .w-card .card-content {
    padding: 20px;
    text-align: left;
}
.w-container .w-card .card-content .w-item {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.w-container .w-card .card-content .w-item:last-child {
    border-bottom: none;
}

.w-container .w-card .container-button {
    position: relative;
}
.w-container .w-card .container-button .w-button {
    position: relative;
    display: block;
    padding: 20px;
    color: #555;
    font-weight: 400;
    z-index: 2;
    text-decoration: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.w-container .w-card .container-button:before, .w-container .w-card .container-button:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.w-container .w-card .container-button:after {
    z-index: 1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.w-container .w-card .container-button:hover .w-button {
    padding: 0px 20px 40px;
}
.w-container .w-card .container-button:hover:before {
    top: -200px;
    left: -50px;
    width: 400px;
    height: 400px;
}
.w-container .w-card .container-button:hover:after {
    top: -200px;
    left: -50px;
    width: 400px;
    height: 400px;
}
.w-container .w-card:hover {
    z-index: 2;
    margin: -20px 0 50px;
}
.w-container .w-card:hover .w-button {
    opacity: 1;
}  

/**********
  Contact
***********/
.contact-cards {
    text-align: center;
    margin: 10% auto !important;
}

.circle-btn {
    margin-top: 5%;
}

.circle-btn img {
    width: 150px;
}

.get-in-touch {
    margin-top: 5%;
    padding: 0 15% !important;
}

.get-in-touch .title {
    padding-bottom: 48px;
}
  
.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0 !important;
    border-bottom: #555 2px solid;
    font-size: 18px;
    line-height: 26px;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
}

.contact-form .input-text:valid + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #555;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
}

.js-input option {
    font-size: 12px !important;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #d9e4dd;
    color: #555;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
}
  
.contact-form .submit-btn:hover {
    background-color: #b7c9bd;
}

/**********
   STORE
***********/
.store-product {
    width: 150px;
    padding: 15% 10%;
    transition: all .2s ease-in-out;
}

.store-product:hover {
    transform: scale(1.03);
}

.store-list {
    text-align: center;
    margin: 15% auto !important;
}

.store-nav a {
    padding: 0 3%;
}

.store-nav {
    margin-top: 1%;
    margin-bottom: 5%;
}

/**********
Media Query
***********/
@media (max-width: 992px) { 
    /* Carousel */
    .carousel-caption {
        width: 100%;
        position: relative;
        left: 0 !important;
    }

    .carousel-img {
        width: 55%;
        left: 15%;
    }
    
    .carousel-img img {
        width: 200px !important;
        height: 200px !important;
    }
    .carousel-indicators {
        bottom: -80px !important;
    }

    /* Nav */
    .nav-items {
        background-color: #fffbf7f0;
        border: #d9e4dd 2px solid;
        flex-direction: column;
        padding-top: 20px;
    }

    .nav-top a {
        padding-left: 0;
        padding: 0 15px;
        margin-top: 5px !important;
    }

    .nav-link span {
        display: none;
    }
    /* Footer */
    img.footer-logo {
        display: none;
    }
}

/* Medium Devices */
@media (max-width: 768px) { 
    /* Home */
    .carousel-img {
        width: 55%;
        left: 10%;
    }

    .card-left {
        margin-right: 0%;
        padding: 0 !important;
        margin-bottom: 15px;
    }

    .about-cards {
        margin: 15% auto !important;
        margin-top: 30% !important;
    }

    .contact-cards {
        margin: 20% auto !important;
    }
}